//
//  Secrets.xcconfig
//  CryptoTracker
//
//  Created by Chiraphat Techasiri on 11/10/25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

COIN_GECKO_API_KEY = CG-bE8bohj4TNJrn5EH3fP8KPXa
